@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; 

@import "colors.scss"; 
@import "mixins.scss";
@import "fonts.scss"; 

body {
	background: $gray-background;
}

.the-grid {
	@include the-grid();
	@include make-tron-font();
	@include make-tron-color();
	background-color: transparent;
	height: 361px;
	width: 100%;
	position: relative;
	padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;

	.container {
		display: table;
		height: 100%;
		text-align: center;
   		
	    h1{
		   display: table-cell;
	  	   vertical-align: middle;
	  	   margin: 0 0 0 0;
	  	   font-size: 130px;
	  	   @include respond-to(header-grid-large) {
				font-size: 80px;
			};

			@include respond-to(header-grid-small) {
				 font-size: 51px;
			};
	    }

	}
} 

.little-text {
	@include make-tron-color();
	@include tron-border();
	font-size: 22px;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}


.my-boxes {
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin: 0 0 12px 0;
	font-family: 'Open Sans', sans-serif;

	.list-skills {
		list-style: none;
		padding: 0px;
		font-size: 16px;
	}
	.list-skills a {
		@include make-tron-color();
		@include make-tron-font();
		font-size: 21px;
		letter-spacing: 3px;
	}
	h1 {
		font-weight: 700;
		border-bottom: 4px solid $tron-blue;
		margin: 10px 0 15px 0;
		text-transform: uppercase;
		padding-bottom: 8px;
		@include make-tron-color();
		@include respond-to(boxes-titles) {
			font-size: 23px;
		};
	}
}
