$break-min: 475px;
$break: 992px;

@mixin the-grid {
  background-image: 
   linear-gradient(0deg, transparent 0px, $grid-line-color 1px, transparent 2px), 
   linear-gradient(90deg, transparent 0px, $grid-line-color 1px, transparent 2px);
  background-size: 4rem 4rem;
  background-position: -1px 1px;
}

@mixin make-tron-font {
	 font-family: 'tr2ntr2n';
}

@mixin make-tron-color {
	color: $tron-blue;
}

@mixin tron-border {
	border: 1px solid $tron-blue;
}

@mixin respond-to($element){
	@if $element == header-grid-large {
		@media only screen and (max-width: $break) { @content; }
	}
	@if $element == header-grid-small {
		@media only screen and (min-width: 320px) and (max-width: $break-min - 1)  { @content; }
	}

    @if $element == boxes-titles {
		@media only screen and (min-width: 320px) and (max-width: $break - 1) { @content; }
	}
}

